body {
    background-color: rgba(0, 0, 0, 0.911);
    width: 300px;
    color: white;
}

h2 {
    text-align: center;
    font: bold 2.5em sans-serif;
    color: rgba(251, 255, 0, 0.873);
}

h3 {
    text-align: center;
    font: bold 1.2em sans-serif;
}

#ratings {
    display: flex;
    justify-content: center;
}

div #imdb-rating,
div #mal-rating {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px;
    padding: 0px 20px 0px 20px;
}

#mal-rating a,
#imdb-rating a {
    color: white;
}

#mal-rating a:hover,
#imdb-rating a:hover {
    color: rgb(227, 227, 227);
}

#poster {
    width: 100%;
    border: 1px solid #ffffffb8;
}

#posterContainer {
    margin: 0px 30px 0px 30px;
}

footer {
    text-align: right;
}

footer a {
    color: white;
    text-decoration: none;
    padding: 0px 10px 15px 0px;
}

footer a:hover {
    color: rgba(251, 255, 0, 0.873);
}

footer img {
    padding: 0px 0px 0px 2px;
}

.spinner {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid rgba(251, 255, 0, 0.873);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#no-title {
    display: flex;
}